.container {
    display: grid;
    width: 100%;
    grid-template-columns: 400px 1000px;
    grid-template-rows: 100px 700px;
    justify-content: center;
    align-content: center;
}

.scroll-container {
    display: grid;
    width: 100%;
    grid-template-columns: 380px;
    grid-auto-rows: 100px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px; 
    gap: 5px 10px;

    max-height: 675px;
    overflow-y: auto;
}

.main-container {
    width: 950px;
    height: 650px;
    margin: 0 auto;
    display: grid;
    background-color: azure;
    gap: 5px 10px;
    margin-top: 20px;    /* space above the container */
    margin-bottom: 20px;
}
.item-a {
  grid-area: 1 / 1 / 2 / 3;
  background-color: aqua;
  font-size: 50px;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.item-b {
  grid-area: 2 / 1 / 3 / 2;
  background-color: rgb(63, 91, 63);
  font-size: 30px;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.item-ba {
    background-color: red;

}

.item-c {
  grid-area: 2 / 2 / 3 / 3;
  background-color: rgb(136, 0, 255);
}

.quiz-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 300px); 
    grid-template-rows: 100px 400px 50px;
    gap: 20px;
    justify-content: center;  
    background: #ae0995;
    width: 950px;
    height: 650px;
    padding: 10px 10px 10px 10px;
  }

.item-d {
    grid-column: 1 / 4;   /* spans all 3 columns */
    grid-row: 1 / 2;      /* first row */
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-e {
    grid-column: 1 / 4;   /* spans all 3 columns */
    grid-row: 2 / 3;      /* second row */
    background-color: rgb(247, 0, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* button for start*/
.item-f { 
    grid-column: 2 / 3;   /* only middle column */
    grid-row: 3 / 4;      /* third row */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
}


.quizview-container{
    display: grid;
    grid-auto-rows: 50px;
    height: auto;
    grid-area: 2 / 1 / 3 / 4;
    background-color: red;
    justify-content: center;
    grid-template-columns: 1fr 1fr;

    width: 100%;
    
    padding: 10px 10px 10px 10px;
    gap: 5px 10px;
    margin: 0 auto;

    max-height: 400px;
    overflow-y: auto;
}

.item-g, .item-h {
  background-color: aqua;
  display: flex;
  align-items: center;   /* vertical center */
  justify-content: center;
  overflow: hidden;      /* hide overflow */
  white-space: nowrap;   /* keep text on one line */
}