<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body class ="game-body">
    <div class="game-container">

        <header class="title-bar">Zug um Zug</header>
        <section class="top-controls">
            <span>Score: 0</span>
            {% if account %}
                <a href="/quiz/{{account.game_key}}" class="btn">Quiz</a>
            {% endif %}
            <a class="btn" onclick="pop('box1')">Goals</a>
            <div id="box1" class="box">
                <i class="fas fa-check-circle"></i> 
                <h1>Goals:</h1>
                <a class="close" onclick="pop('box1')">Close</a>
            </div>
        </section>


        <div class="bottom-area">
            <div class="card-panel">
                <div class="card-cell" style="background-color: rgb(255, 0, 0);">Red</div>
                <div class="card-cell">A2</div>

                <div class="card-cell" style="background-color: rgb(255, 170, 0);">Orange</div>
                <div class="card-cell">A1</div>

                <div class="card-cell" style="background-color: yellow;">Yellow</div>
                <div class="card-cell">A1</div>

                <div class="card-cell" style="background-color: rgb(0, 255, 68);">Green</div>
                <div class="card-cell">A1</div>

                <div class="card-cell" style="background-color: rgb(0, 0, 255);">Blue</div>
                <div class="card-cell">A2</div>

                <div class="card-cell" style="background-color: rgb(111, 0, 255);">Purple</div>
                <div class="card-cell">A1</div>

                <div class="card-cell" style="background-color: rgb(255, 0, 247);">Pink</div>
                <div class="card-cell">A1</div>
                
                <div class="card-cell" style="background-color: rgb(255, 0, 157);">Raindow</div>
                <div class="card-cell">A1</div>
            </div>

            <div class="map-grid" id="mapGrid"></div>

            <script>
            const mapGrid = document.getElementById("mapGrid");
            const rows = 15;
            const cols = 20;

            for (let r = 1; r <= rows; r++) {
                for (let c = 1; c <= cols; c++) {
                    const cell = document.createElement("div");
                    cell.className = "map-cell";
                    mapGrid.appendChild(cell);
                }
            }
            </script>

        </div>

    </div>
        <a class="btn" onclick="pop('box2')">Place</a>
        <div id="box2" class="box">
            <i class="fas fa-check-circle"></i> 
            <h1>Chose Destination</h1>

            <p>From:</p>
            <select name="cities">
                <option value="LA">Los Angeles</option>
                <option value="LV">Las Vegas</option>
                <option value="NY">New York</option>
            </select>

            <p>To</p>
            <select name="cities">
                <option value="LA">Los Angeles</option>
                <option value="LV">Las Vegas</option>
                <option value="NY">New York</option>
            </select>

        <a class="close" onclick="pop('box2')">Close</a>
        <button> Place </button>
    </div>
    
    <script src="/static/app.js"></script>
</body>
</html>

