<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Game</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<!--If email is empty, error message saying to add it before clicking random number. After press random number does Start button popup-->
<body>
    <h1>Game Page 🎮</h1>
    {% if gamekey %}
        <p>Your game key is: <strong>{{ gamekey }}</strong></p>
    {% else %}
        <form action="/generate-key" method="post">
        <button type="submit">Generate Game Key</button>
        </form>
    {% endif %}

    <select name="cities">
        <option value="EN">English</option>
        <option value="DB">German</option>
    </select>

    <nav>
        <a href="/game" class="btn">Start</a>
    </nav>


    <script src="/static/app.js"></script>
</body>
</html>

