<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Game</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<!--If email is empty, error message saying to add it before clicking random number. After press random number does Start button popup-->
<body>
    <h1>Game Page 🎮</h1>
    {% if gamekey %}
        <p>Your game key is: <strong>{{ account.game_key }}</strong></p>
        <a href="/game/{{account.game_key}}" class="btn">Start</a>
    {% else %}

        <form action="/generate-key" method="post">
            <label for="system_language">System language:</label>
            <select name="system_language", id="system_language">
                <option value="DF">Select</option>
                <option value="EN">English</option>
                <option value="DB">German</option>
            </select>

            <label for="goal_language">Goal Language:</label>
            <select name="goal_language", id="goal_language">
                <option value="DF">Select</option>
                <option value="EN">English</option>
                <option value="DB">German</option>
            </select>

            <button type="submit">Generate Game Key</button>
        </form>
    {% endif %}

    <script src="/static/app.js"></script>
</body>
</html>

