<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Game</title>
    <link rel="stylesheet" href="/static/quiz.css">
</head>
<body>
    <div class="container">
            <div class="item-a"> Hello</div>
            <div class="item-b"> 
                <div class="scroll-container">
                    <div class="item-ba"> Hi </div>
                    <div class="item-ba"> Hello </div>
                    <div class="item-ba"> Hi </div>
                    <div class="item-ba"> Hello </div>
                    <div class="item-ba"> Hi </div>
                    <div class="item-ba"> Hello </div>
                    <div class="item-ba"> Hi </div>
                    <div class="item-ba"> Hello </div>
                    <div class="item-ba"> Hi </div>
                    <div class="item-ba"> Hello </div>
                    <div class="item-ba"> Hi </div>
                    <div class="item-ba"> Hello </div>
                    <div class="item-ba"> Hi </div>
                    <div class="item-ba"> Hello </div>
                    <div class="item-ba"> Hi </div>
                    <div class="item-ba"> Hello </div>
                    <div class="item-ba"> Hi </div>
                    <div class="item-ba"> Hello </div>
                </div>     
            </div>
            <div class="item-c"> 
                <div class="main-container">
                    <div class="quiz-container">
                        <div class="item-d">Nick</div>
                        <div class="item-e">Hello</div>
                            <div class="quizview-container">
                                <div class="item-g">Row 1, Col 1</div>
                                <div class="item-h">Row 1, Col 2</div>
                                <div class="item-g">Row 2, Col 1</div>
                                <div class="item-h">Row 2, Col 2</div>
                                <div class="item-g">Row 3, Col 1</div>
                                <div class="item-h">Row 3, Col 2</div>
                                <div class="item-g">Row 1, Col 1</div>
                                <div class="item-h">Row 1, Col 2</div>
                                <div class="item-g">Row 2, Col 1</div>
                                <div class="item-h">Row 2, Col 2</div>
                                <div class="item-g">Row 3, Col 1</div>
                                <div class="item-h">Row 3, Col 2</div>
                                <div class="item-g">Row 1, Col 1</div>
                                <div class="item-h">Row 1, Col 2</div>
                                <div class="item-g">Row 2, Col 1</div>
                                <div class="item-h">Row 2, Col 2</div>
                                <div class="item-g">Row 3, Col 1</div>
                                <div class="item-h">Row 3, Col 2</div>
                            </div>
                        <a href="\quiz-q" class="item-f btn">Nick</a>
                    </div>
                </div>
            </div>
    </div>

    <script src="/static/app.js"></script>
</body>
</html>